@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --SoftOrange: hsl(35, 77%, 62%);
    --SoftRed: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --GrayishBlue: hsl(233, 8%, 79%);
    --DarkGrayishBlue: hsl(236, 13%, 42%);
    --VeryDarkBlue: hsl(240, 100%, 5%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "inter";
    margin: 0 auto;
    padding: 30px 15px 80px;
    width: 350px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 30px;
    width: 45px;
}
.menu-icon{
    height: 15px;
    width: 30px;
}

.menu-icon:hover{
    cursor: pointer;
}

.navbar-background{
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 220%;
    width: 100%;
    z-index: 1;
}

.navbar-phone{
    position: absolute;
    background-color: var(--Off-white);
    bottom: 0;
    right: 0;
    height: 100%;
    width: 270px;
}

.close-icon{
    position: absolute;
    margin: 20px;
    right: 0;
    height: 31px;
    width: 32px;
}

.close-icon:hover{
    cursor: pointer;
}

.navbar-phone__item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50%;
    padding: 0 20px;
    height: 200px;
}

.navbar__box{
    display: flex;
    justify-content: space-between;
    width: 435px; 
}

.navbar__list{
    color: var(--DarkGrayishBlue);
    cursor: pointer;
    list-style: none;
}

.navbar__list:hover{
    color: var(--SoftOrange);
}

.navbar-phone__list{
    cursor: pointer;
    list-style: none;
    font-weight: 400;
}

.navbar-phone__list:hover{
    color: var(--SoftOrange);
}

.web-img{
    background-image: url("assets/images/image-web-3-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 25px 0;
}

.main-box__title{
    color: var(--VeryDarkBlue);
    font-weight: 800;
    line-height: 33px;
    width: 80%;
}

.main-box__text{
    color: var(--DarkGrayishBlue);
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    margin: 15px 0;
}

button{
    background-color: var(--SoftRed);
    border: none;
    color: var(--Off-white);
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 4px;
    height: 38px;
    width: 150px;
}

button:hover{
    background-color: var(--VeryDarkBlue);
    color: var(--Off-white);
}

.news-box{
    background-color: var(--VeryDarkBlue);
    padding: 30px 20px;
    margin: 50px 0;
}

.news-box__title{
    color: var(--SoftOrange);
    margin-bottom: 30px;
}

.news-box__subTitle{
    color: var(--Off-white);
    cursor: pointer;
    margin-bottom: 10px;
}

.news-box__subTitle:hover{
    color: var(--SoftOrange);
}

.news-box__text{
    color: var(--GrayishBlue);
    font-size: 12px;
    line-height: 20px;
}

.line{
    border: 0.1px solid;
    color: var(--DarkGrayishBlue);
    margin: 25px 0;
    width: 100%;
}

.products{
    display: flex;
    flex-direction: column;
}

.PCs, .laptop, .gaming{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.PCs__box, .laptop__box, .gaming__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    width: 60%;
}

.PCs__n, .laptop__n, .gaming__n{
    color: var(--GrayishBlue);
}

.PCs__info, .laptop__info, .gaming__info{
    color: var(--VeryDarkBlue);
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.PCs__info:hover, .laptop__info:hover, .gaming__info:hover{
    color: var(--SoftOrange);
}

.PCs__text, .laptop__text, .gaming__text{
    color: var(--DarkGrayishBlue);
    font-size: 13px;
    line-height: 20px;
}

.PCs__img{
    background-image: url("assets/images/image-retro-pcs.jpg");
}

.laptop__img{
    background-image: url("assets/images/image-top-laptops.jpg");
}

.gaming__img{
    background-image: url("assets/images/image-gaming-growth.jpg");
}

.PCs__img, .laptop__img, .gaming__img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 80px;
}

@media (min-width: 700px){
    body{
        padding: 0 165px;
        width: 1440px;
        margin: 90px auto;
    }

    .logo{
        height: 40px;
        width: 65px;
    }
    
    .menu-icon{
        display: none;
    }

    .main-box{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 50px 0 0;
    }

    .main-box__box{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .web-img{
        background-image: url("assets/images/image-web-3-desktop.jpg");
        margin: 0;
        height: 300px;
        width: 730px;
    }

    .main-box__info{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0 0;
    }

    .main-box__title{
        font-size: 54px;
        line-height: 50px;
        width: 300px;
    }

    .main-box__text{
        font-size: 15px;
        margin: 0;
        width: 350px;
    }

    button{
        font-size: 12px;
        margin: 40px 0 0;
        height: 50px;
        width: 185px;
    }

    .news-box{
        margin: 0;
        height: 510px;
        width: 350px;
    }

    .news-box__title{
        font-size: 34px;
    }

    .news-box__subTitle{
        font-size: 20px;
    }

    .news-box__text{
        font-size: 14px;
        line-height: 25px;
    }

    .line{
        margin: 30px 0;
    }

    .products{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        margin: 50px 0 0;
    }

    .PCs, .laptop, .gaming{
        width: 350px;
    }

    .PCs__img, .laptop__img, .gaming__img{
        height: 130px;
        width: 100px;
    }

    .PCs__n, .laptop__n, .gaming__n{
        font-size: 28px;
    }

    .PCs__info, .laptop__info, .gaming__info{
        font-size: 18px;
    }

    .PCs__text, .laptop__text, .gaming__text{
        font-size: 14px;
    }
} 

@media (max-width: 700px){
    .navbar{
        display: none;
    }
} 

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}